@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #e8fff3;
	transition: all ease-in-out 0.25s;
	min-height: 100vh;
	max-height: fit-content;
}

::selection {
	background: #72dfa6;
}

body.darkMode {
	background-color: #181818;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700&display=swap");
